
@import url(http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css);

html {
  height: 100%;
  margin: 0;
}
body {
  background: #1a1a1a;
  height: 100%;
  margin: 0;
  color: #FFFCFC;
  letter-spacing: 3px;
  font-family: 'Nunito Sans', sans-serif;
}
.flat-form {
  background: #1B2035;
  height: 100%;
  min-width: 380px;
  min-height: 100vh;
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
}
.tabs {
  background: #1B2035;
  height: 60px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.tabs li {
  display: inline-block;
  margin: 0;
  float: none;
  padding: 0;
}
.tabs a {
  background: rgb(30, 36, 59);
  display: block;
  float: left;
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 12px 22px 12px 22px;
  /*border-right: 1px solid @tab-border;*/

}
.tabs li:last-child a {
  border-right: none;
  width: 174px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.tabs a.active {
  background: rgb(35, 42, 70);
  border-right: none;
  -webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.form-action {
  padding: 0 20px;
  position: relative;
}

.form-action h1 {
  font-size: 42px;
  margin-bottom: 50px;
  margin-top: 100px;
  margin-left:30%;
}
.form-action p {
  font-size: 12px;
  padding-bottom: 10px;
  line-height: 25px;
}
form {
  padding-right: 20px !important;
}
form input[type=text],
form input[type=password],
form input[type=submit] {
    font-family: 'Nunito Sans', sans-serif;
}

form input[type=text],
form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  background: black;
  border: none;
  color: #FFFCFC;
  outline: none;
}

.dark-box {
  background: #5e0400;
  box-shadow: 1px 3px 3px #3d0100 inset;
  height: 40px;
  width: 50px;
}
.form-action .dark-box.bottom {
  position: absolute;
  right: 0;
  bottom: -24px;
}
.tabs + .dark-box.top {
  position: absolute;
  right: 0;
  top: 0px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

.button {
    border: none;
    display: block;
    background: #cac1c1;
    height: 60px;
    width: 60px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    /*box-shadow: 0px 3px 1px #2075aa;*/
  	-webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  transition: all 0.15s linear;
}

png .button{
    background: #625d5d;
}

.button:hover {
  background: #1e75aa;
  /*box-shadow: 0 3px 1px #237bb2;*/
}

.button:active {
  background: #136899;
  /*box-shadow: 0 3px 1px #0f608c;*/
}

.button_right{
    float: right;
}

::-webkit-input-placeholder {
  color: #FFFCFC;;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFCFC;;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFCFC;;
}
:-ms-input-placeholder {
  color: #FFFCFC;;
}


.limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    height: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #212221;
  }
  
  
  .wrap-login100 {
    width: 100%;
    background: #212221;
    overflow: hidden;
    display: flex;
  
  }

  .signin_signup_text{
      text-align: center;
  }

  .text_over_inputfields_signup_signin{
      line-height: 40px;
      color:rgb(138, 138, 138);
  }

  .wrap-picturefront{
    width: calc(100% + 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

  .wrap-picturefront::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.1);
  }

  .front{
    position: relative;
    color:#fff;
    text-align: center;
    z-index: 1;
  }
  
  .frontquotebox {
    background: rgba(33, 34, 33, 0.8);
    position: relative;
    top: 45%;
    z-index: -1;
  }

  div.hr-line {
    position: relative;
    display: block;
    left: 50%;
    width: 35%;
    margin-bottom: 50px;
    border-bottom: 3px solid #fff;
}

.logo_website{
  margin-left: auto;
  margin-right: auto;
  display: block;
}