body{
    margin:0px; 
}

main{
    position: relative; 
    width: 1440px; 
    height: 900px; 
    background-color: rgb(27,32,53);
}

#ball{
    display:flex;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(6,21,121);
    left: 40%;
    top: 30%;
}    

#hello{
    position: absolute;
    color: rgb(255,252,252);
    font-family: Avenir Next;
    font-size: 50px; 
    top: 80px;
    left: 40px;
}
