html, body{
    height: 100%;
    width: 100%;
	margin: 0;
    position: absolute;
    background-color: #1B2035;
}

#mainConteiner{
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#overskrift{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFCFC;
    left: 28%;
    font-size: 70px;
    font-weight: 300;
    padding: 3%;
    margin: 0;
}

#pin{
    position: absolute;
    height: 8%;
    top: 5%;
    left: 63%;
}


.picContainer{
    position: absolute;
    width: 25%;
}

.picContainer:hover{
    width: 28%;
    margin-left: -1%;
    top: 32%;
}


.picContainer img{
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.picContainer .picDescription{
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 1.3%;
    background-color: #999797;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1.3vw;
    color: #FFFCFC;
    opacity: 0.7;
    border-radius: 2%;
    padding-bottom: 5%;
}

#mainboard{
    top: 1%;
    left: 8%;
}

#vwork{
    top: 1%;
    left: 37%;
}

#travel{
    top: 1%;
    left: 66%;
}

#cleaning{
    top: 37%;
    left: 8%;
}

#budget{
    top: 37%;
    left: 37%;
}

#newCard{
    position: absolute;
    top: 37%;
    left: 66%;
    background-color: #999797;
    width: 25%;
    height: 29%;
    border-radius: 2%;
    opacity: 0.5;
}

#plusSign{
    position: absolute;
    height: 35%;
    width: auto;
    left: 38%;
    top: 30%;
}

#newCard:hover{
    height: 32%;
    width: 28%;
}
